@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  position: relative;
}

body {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f5dddd;
}

::-webkit-scrollbar-thumb {
  background: #fef6f6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffeded;
}

.comments_box::-webkit-scrollbar {
  width: 10px;
}